n8n_backup_2/exported_workflows/AI_Telegram_Bot_Agent__Smart_Assistant___Content_S_5TuguhLBbWWX3Pto.json
{
  "id": "5TuguhLBbWWX3Pto",
  "name": "AI Telegram Bot Agent: Smart Assistant & Content Summarizer  Use for free",
  "nodes": [
    {
      "parameters": {
        "content": "Quick-Start Telegram Echo Bot\n\nA single-node Telegram bot that parses /help, /summary <URL>, or /img <prompt> and returns either a help menu, a 10\u201312-point article summary, or an \u201cimage in progress\u201d acknowledgement.",
        "width": 400,
        "color": 7
      },
      "id": "99f3a97f-06f5-4a3e-9158-4b02c482380f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1140,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Listener\n\nWatches for any new message from Telegram and kicks the flow off.",
        "color": 7
      },
      "id": "0b9e32f8-34cb-4972-a277-5fcbda9cd42d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Command Router\n\nChecks if the message starts with /help, /summary, or /img, and sends it down the right path.",
        "color": 7
      },
      "id": "7abc8858-5e5d-4141-8354-84e4894ae229",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Help Responder\n\nWhen it sees /help, replies with a simple list of commands and how to use them.",
        "color": 7
      },
      "id": "5471d53e-64f6-43c0-b3f0-1742355ace2e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Summary Checker\n\nSees if the text begins with /summary. If yes, it moves on to fetch the article; if no, skips onward.",
        "color": 7
      },
      "id": "8d7093d6-f21f-4a4f-9cd3-642fa504d726",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -220,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Fetcher\n\nGoes to the provided URL and downloads the page\u2019s HTML.\n",
        "color": 7
      },
      "id": "a2e01830-89fb-414f-9de2-a6db0bc95bac",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Image Prompt Checker\n\nSees if the text begins with /img. If yes, forwards the prompt to the image generator; if not, ends the flow.",
        "color": 7
      },
      "id": "727d7503-ed54-4b6c-9bf2-80ce4dfd3a80",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        1140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Text Extractor\n\nPulls out just the main article text (e.g. everything inside <body>).",
        "color": 7
      },
      "id": "e3de3996-f49f-4774-bc2e-6ced40d394c5",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Image Generator\n\nSends your prompt to OpenAI\u2019s image endpoint (or your chosen image API).",
        "color": 7
      },
      "id": "8e351919-73a9-4f63-b9e1-ce63a67918c3",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        760,
        1320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Summarizer\n\nSends the raw article text to OpenAI and asks for a 10\u201312-point professional bullet-point summary.",
        "color": 7
      },
      "id": "5a5766a9-e17b-4bc5-baf7-56b73242a7df",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Image Acknowledger\n\nTells the user \u201cGot it\u2014your image is being made!\u201d (and later you can hook this up to send the actual picture URL).",
        "color": 7
      },
      "id": "78ac3301-a72a-454c-ac0d-2beb22f18260",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1380,
        980
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Summary Sender\n\nDelivers the bullet-point summary back to the user in Telegram.\n",
        "color": 7
      },
      "id": "9acfdf2f-1122-4c49-bd4f-855390b96bb3",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1580,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "beda5a96-e43f-427e-8824-bd82424d7803",
      "name": "Listener",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -700,
        420
      ],
      "webhookId": "61f2e55d-a41d-4594-a045-154264c78738",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "operation": "startsWith",
              "value2": "/help"
            }
          ]
        }
      },
      "id": "f5b1de1f-b246-41f1-a336-09d5138fb0bb",
      "name": "Command Router",
      "type": "n8n-nodes-base.if",
      "position": [
        -400,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "\ud83e\udd16 *Help Menu*\n\nUse `/summary <link>` to summarize an article.\nUse `/img <prompt>` to generate an image.\n\n_Example:_\n/summary https://example.com\n/img a futuristic cityscape",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "da7b2c5b-6670-4569-8825-5d2a6b8e8525",
      "name": "Help Responder",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -180,
        180
      ],
      "webhookId": "ab573ae8-05e4-41bb-bec7-fca1233fc0bb",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "operation": "startsWith",
              "value2": "/summary"
            }
          ]
        }
      },
      "id": "a1b0cf3a-e494-4757-b139-9196ff78b157",
      "name": "Summary Checker",
      "type": "n8n-nodes-base.if",
      "position": [
        -160,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.message.link_preview_options.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {}
      },
      "id": "fb87f126-5f49-4396-bff5-9bfb599f71d9",
      "name": "Fetcher",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        200,
        380
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body",
              "skipSelectors": "svg, a"
            }
          ]
        },
        "options": {}
      },
      "id": "2836cd75-0a62-45e2-a74d-a1356e55bfe4",
      "name": "Text Extractor",
      "type": "n8n-nodes-base.html",
      "position": [
        600,
        660
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize the entire content provided below into 10\u201312 concise bullet points. Ensure each point captures a unique and important aspect of the information, covering the core ideas, key facts, major findings, and essential takeaways. Avoid repetition and use clear, professional language suitable for quick understanding by a decision-maker.\n\nContent:\n {{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c10db91d-1445-4ffe-a59c-105f42a9136b",
      "name": "Summarizer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        960,
        400
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "chatId": "={{ $('Listener').item.json.message.chat.id }}",
        "text": "={{$json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]}}",
        "additionalFields": {}
      },
      "id": "6bf6142c-d9d0-44be-bbab-38d69a6909a4",
      "name": "Summary Sender",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1500,
        400
      ],
      "webhookId": "c6f19898-b638-4e42-b377-d7664087ab0b",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "operation": "startsWith",
              "value2": "/img"
            }
          ]
        }
      },
      "id": "83270cd7-8789-4bdb-a8d4-3c17e81f0c07",
      "name": "Image Prompt Checker",
      "type": "n8n-nodes-base.if",
      "position": [
        240,
        980
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "options": {}
      },
      "id": "3e6fcbe9-129d-4317-b697-57fd6160c39e",
      "name": "Image Generator",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        840,
        1120
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "\ud83d\uddbc\ufe0f Generated image prompt submitted! Gemini image model doesn't return images directly. Use image generation APIs like Stability for actual image URLs.",
        "additionalFields": {}
      },
      "id": "8078956c-3110-4222-a002-dd4aeaeb0888",
      "name": "Image Acknowledger",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1440,
        780
      ],
      "webhookId": "b5fb6529-a924-4885-8d6c-17073ce29bb0",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "=======================================\n            WORKFLOW ASSISTANCE\n=======================================\nFor any questions or support, please contact:\n    Yaron@nofluff.online\n\nExplore more tips and tutorials here:\n   - YouTube: https://www.youtube.com/@YaronBeen/videos\n   - LinkedIn: https://www.linkedin.com/in/yaronbeen/\n=======================================\n",
        "height": 740,
        "width": 480,
        "color": 4
      },
      "id": "36ace42f-1041-4540-b156-394e30d3eeed",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1820,
        180
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Fetcher": {
      "main": [
        [
          {
            "node": "Text Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listener": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarizer": {
      "main": [
        [
          {
            "node": "Summary Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Help Responder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summary Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Help Responder": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Extractor": {
      "main": [
        [
          {
            "node": "Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generator": {
      "main": [
        [
          {
            "node": "Image Acknowledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Checker": {
      "main": [
        [
          {
            "node": "Fetcher",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Prompt Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Checker": {
      "main": [
        [
          {
            "node": "Image Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}