n8n_backup_2/exported_workflows/Airbnb_Telegram_Agent_HLpUeJuZMYdFMx6J.json
{
  "id": "HLpUeJuZMYdFMx6J",
  "name": "Airbnb Telegram Agent",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "id": "3c312279-caeb-4066-b99a-b0125c9c4f4d",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2080,
        800
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "id": "7abe5784-3e1a-43f1-9bc1-ba2f444504f5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1960,
        800
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "a940248a-37b2-4eed-8c6c-24afd9e13368",
      "name": "Airbnb MCP Client - List Tools",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        2200,
        800
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "7b0ad4a2-9ef4-4451-869f-fc3ec947ef13",
      "name": "Airbnb MCP Client - Execute Tools",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        2320,
        800
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=<system_prompt>\nYOU ARE A HIGHLY SPECIALIZED **AIRBNB EXPERT AGENT** INTEGRATED INTO **n8n**. YOUR TASK IS TO ANSWER AIRBNB ACCOMMODATION QUERIES PRECISELY BY USING THE **MCP (Modular Command Platform)** AND PRESENTING THE INFORMATION IN **MOBILE-FRIENDLY FORMAT FOR TELEGRAM**.\n\nCURRENT DATE AND TIME: {{ $now }}\n\n---\n\n###TOOL USAGE###\n\nYOU HAVE ACCESS TO TWO MCP TOOLS:\n\n- `Airbnb MCP Client - List Tools` \u2192 SHOWS ALL AVAILABLE MCP FUNCTIONS\n- `Airbnb MCP Client - Execute Tools` \u2192 EXECUTES THE SELECTED TOOL WITH PARAMETERS\n\n\u26a0\ufe0f **IMPORTANT**: ALWAYS RUN `LIST TOOLS` FIRST \u2192 THEN `EXECUTE TOOLS` WITH THE APPROPRIATE TOOL!\n\n---\n\n###CHAIN OF THOUGHTS \u2013 WORK STEPS###\n\n1. **UNDERSTAND**: ANALYZE THE QUERY (e.g., location, time period, price limit, special requirements)\n2. **BASICS**: CLARIFY WHETHER IT'S ABOUT A LIST, DETAILS, OR COMPARISON\n3. **BREAK DOWN**: PARSE RELEVANT PARAMETERS FROM THE QUERY\n4. **ANALYZE**: CALL `LIST TOOLS` TO GET ALL AVAILABLE OPTIONS\n5. **BUILD**: SELECT THE RIGHT TOOL AND USE `EXECUTE TOOLS` WITH PRECISE PARAMETERS\n6. **FORMAT**: FORMAT THE OUTPUT FOR **MOBILE/TELEGRAM** \u2013 NO TABLES!\n7. **FINAL OUTPUT**: FOR EACH ACCOMMODATION, USE THIS FORMAT:\n\n\ud83c\udfe1 {Accommodation Name}\n\ud83d\udecf\ufe0f {Beds, Bedrooms}\n\ud83d\udcb6 {Price/Night} \u2013 Total: {Total Price}\n\u2728 {Special Feature, if available}\n\ud83d\udd17 [View]({URL to accommodation})\n\n\ud83d\udccc *IMPORTANT: THE URL MUST BE WITHIN THE BRACKETS, OTHERWISE THE LINK WON'T BE CLICKABLE ON TELEGRAM!*\n\n---\n\n###EXAMPLE OUTPUT FOR TELEGRAM###\n\nHere are accommodations in Allg\u00e4u for 2 people from May 28-30, 2025:\n\n\ud83c\udfe1 Sandra's apartment in the countryside\n\ud83d\udecf\ufe0f 2 beds\n\ud83d\udcb6 \u20ac82/night \u2013 Total: \u20ac164\n\u2728 Guest favorite\n\ud83d\udd17 View\n\n\ud83c\udfe1 Villa Kunterbunt in Allg\u00e4u\n\ud83d\udecf\ufe0f 2 single beds\n\ud83d\udcb6 \u20ac137/night \u2013 Total: \u20ac274\n\u2728 Guest favorite\n\ud83d\udd17 View\n\n\ud83d\udd0e More results & filters:\n\u2192 All accommodations for 2 people in Allg\u00e4u (May 28-30, 2025)\n\n\ud83d\udc49 Let me know if you want details about any accommodation like amenities, photos, or cancellation policies!\n</system_prompt>"
        }
      },
      "id": "37b0b0b8-26a2-43ee-9cf1-d4247328eae5",
      "name": "Airbnb Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2060,
        580
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "157fb91c-9a33-4c0d-ad64-d5d8d6f6bf35",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1080,
        580
      ],
      "webhookId": "6596b191-7b90-41ed-ad04-b84340d8d3d6",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "7c629699-9dd6-4a75-9b76-d796875f9ac9",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0e56bc7f-c754-4f5e-9ddd-7124e1f5d998",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "id": "122d8cd5-1e50-46af-814a-50907b4b73e7",
      "name": "Text or Voice",
      "type": "n8n-nodes-base.switch",
      "position": [
        1300,
        580
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "6ca21abc-4676-4b51-8c5f-2e79a13784a1",
      "name": "Get Voice Message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1520,
        680
      ],
      "webhookId": "b77489ac-fd9d-4ed6-94eb-f646d292bfb2",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5bcf087-7580-4904-88d3-ca29614fc923",
              "name": "text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f03fa91e-01c8-4151-a3d8-5f306dba7ad4",
      "name": "Prepare Text Message for AI Agent",
      "type": "n8n-nodes-base.set",
      "position": [
        1740,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "53329150-ea03-48db-a2ce-6e220cc85b05",
      "name": "Send Text Response",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2600,
        480
      ],
      "webhookId": "2b263d0d-6a0e-4319-8c5b-5916faba83a8",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "872ce291-8b5a-4d83-bda7-c426d034b436",
      "name": "Send Voice Response",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3120,
        680
      ],
      "webhookId": "17ddaf92-7e24-4ca9-a4e0-74aabea37e20",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "options": {}
      },
      "id": "f2561b6b-c6b2-4106-a4d1-0bce02b5546e",
      "name": "Create Voice Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2900,
        680
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the given input briefly and clearly for voice output. The text should be well-structured and understandable when listened to.\n\n## Input\nYou receive structured information about Airbnb accommodations containing emojis, links, formatting, and detailed descriptions.\n\n## Output Guidelines\n\n### Structure & Format\n- **Remove all emojis** and visual formatting\n- **No links** or URLs mentioned\n- Use **natural, spoken language**\n- Structure information **logically and chronologically**\n- Keep sentences **short and concise**\n\n### Content Priorities\n\n#### For Accommodation Lists:\n1. **Mention number of found accommodations**\n2. **Price range** (cheapest to most expensive option)\n3. **2-3 most interesting options** with name, price, and key feature\n4. Brief note about **additional available options**\n\n#### For Accommodation Details:\n1. **Name and basic data** (guest count, room type)\n2. **Price per night**\n3. **3-4 most important amenities**\n4. **Key house rules** (check-in/out, guest limit)\n5. **Location highlights** (distance to important points)\n\n#### For Cancellation Policies:\n1. **Type of cancellation policy** (flexible/moderate/strict)\n2. **Deadlines for free cancellation**\n3. **Refund rates** after cancellation deadlines\n4. **Important note** that final conditions are shown at booking\n\n### Language Style\n- Use **\"you\"** as address form\n- **Direct, friendly language**\n- **No technical terms** without explanation\n- **Spell out numbers** up to twenty\n- **Time references** in natural form (\"seven days before\" instead of \"7 days\")\n\n### Length\n- **Maximum 150 words** for lists\n- **Maximum 100 words** for single objects\n- **Maximum 80 words** for cancellation policies\n\n## Example Transformation\n\n**Input:** Long formatted list with 7 accommodations, emojis, links\n**Output:** \"I found seven accommodations in Scheveningen for May thirty-first. Prices range from seventy-three to two hundred nine euros per night. Particularly interesting are the affordable room near TU Delft for seventy-three euros, the cozy room near beach and center for ninety-one euros, and the studio apartment with Superhost status for two hundred nine euros. All accommodations offer various amenities and locations to choose from.\"\n\n## Technical Implementation in n8n\n\n### Node Configuration\n- **Node Type:** Basic LLM Chain\n- **Model:** GPT-4 or comparable\n- **Temperature:** 0.3 (for consistent, factual outputs)\n- **Max Tokens:** 200\n\n### Prompt Template\n```\nSummarize the following Airbnb information briefly and understandably for voice output. \n\nConsider:\n- No emojis, links, or formatting\n- Natural, spoken language\n- Maximum 150 words\n- Most important information first\n- Friendly, informative tone\n\nInput: {{ $json.output }}\n\nSummary:\n```\n\n### Input Mapping\n- Connect the output of the previous node with the `input` parameter\n- Use the `output` property of the JSON array as input\n\n### Output Processing\n- The summarized text can be passed directly to Text-to-Speech services\n- Or for further processing in downstream nodes",
        "batching": {}
      },
      "id": "d854a130-602d-4aec-a3ef-dee3af4d4728",
      "name": "Summarize Response for Voice",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2520,
        680
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "4f8c7d8e-4cb2-4089-ad3c-9c6f595ae04a",
      "name": "Transcribe Voice Message",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1740,
        680
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "content": "# Welcome to my Airbnb Telegram Agent Workflow!\n\n## This workflow has the following sequence:\n\n1. **Telegram Trigger** - Receives incoming messages (text or voice) from Telegram users\n2. **Text or Voice Switch** - Routes the workflow based on message type (text vs. voice)\n3. **Voice Processing Path** (if voice message):\n   - Get Voice Message - Downloads the voice file from Telegram\n   - Transcribe Voice Message - Converts speech to text using OpenAI Whisper\n4. **Text Processing Path** - Prepares text messages for the AI agent\n5. **Airbnb Agent (Core Logic)** - LangChain agent that:\n   - Uses conversation memory to maintain context\n   - Lists available MCP tools for Airbnb data access\n   - Executes appropriate tools with parsed parameters\n   - Formats results for mobile/Telegram display\n6. **Response Generation**:\n   - Send Text Response - Sends formatted text back to Telegram\n   - Summarize Response for Voice - Creates voice-friendly summary\n   - Create Voice Response - Converts summary to speech using OpenAI TTS\n   - Send Voice Response - Sends audio message back to Telegram\n\n## The following accesses are required for the workflow:\n\n- **Telegram Bot API**: [Documentation](https://docs.n8n.io/integrations/builtin/credentials/telegram/) \n  - Create a bot via @BotFather on Telegram\n  - Get bot token and configure webhook\n- **OpenAI API**: [Documentation](https://docs.n8n.io/integrations/builtin/credentials/openai/)\n  - Used for speech transcription (Whisper)\n  - Used for chat completion (GPT-4)\n  - Used for text-to-speech generation\n- **MCP Community Client Node**: [Documentation](https://github.com/nerding-io/n8n-nodes-mcp)\n  - Custom integration for Airbnb data\n  - Requires MCP server setup with Airbnb/Airtable connection\n  - Provides tools for accommodation search and details\n\n## Key Features:\n\n- **Multimodal Support**: Handles both text and voice messages\n- **Conversation Memory**: Maintains context across multiple messages\n- **Mobile-Optimized Output**: Formats results specifically for Telegram mobile viewing\n- **Tool Integration**: Uses MCP platform to access real Airbnb data\n- **Voice Capabilities**: Full speech-to-text and text-to-speech support\n\n## Configuration Notes:\n\n- Uses GPT-4.1 model for enhanced reasoning capabilities\n- Includes comprehensive system prompts for Airbnb-specific responses\n- Voice responses are automatically summarized for better audio experience\n\nYou can contact me via LinkedIn, if you have any questions: https://www.linkedin.com/in/friedemann-schuetz",
        "height": 1280,
        "width": 1040
      },
      "id": "4a58b677-5615-4383-9c0e-b3d4ddaef6fd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Airbnb Agent": {
      "main": [
        [
          {
            "node": "Send Text Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize Response for Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Airbnb Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Text or Voice": {
      "main": [
        [
          {
            "node": "Prepare Text Message for AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Voice Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Text or Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice Message": {
      "main": [
        [
          {
            "node": "Transcribe Voice Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Airbnb Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Summarize Response for Voice",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Voice Response": {
      "main": [
        [
          {
            "node": "Send Voice Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice Message": {
      "main": [
        [
          {
            "node": "Airbnb Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Response for Voice": {
      "main": [
        [
          {
            "node": "Create Voice Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Text Message for AI Agent": {
      "main": [
        [
          {
            "node": "Airbnb Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Airbnb Agent": [
      {
        "json": {
          "output": "Hier sind Unterk\u00fcnfte in Scheveningen f\u00fcr 1 Person vom 31. Mai (Samstag) bis 1. Juni 2025 (Sonntag):\n\n\ud83c\udfe1 Comfort double room | Hotel Corel\n\ud83d\udecf\ufe0f 1 Doppelbett\n\ud83d\udcb6 \u20ac156/Nacht \u2013 Total: \u20ac156\n\ud83d\udd17 [View](https://www.airbnb.com/rooms/810809021737050160)\n\n\ud83c\udfe1 Cozy room near the city center and the beach!\n\ud83d\udecf\ufe0f Einzelzimmer\n\ud83d\udcb6 \u20ac91/Nacht \u2013 Total: \u20ac91\n\ud83d\udd17 [View](https://www.airbnb.com/rooms/1148459085653934403)\n\n\ud83c\udfe1 Go see Peace Palace \u2013 an easy 15-min walk\n\ud83d\udecf\ufe0f 2 Einzelbetten\n\ud83d\udcb6 \u20ac164/Nacht \u2013 Total: \u20ac164\n\ud83d\udd17 [View](https://www.airbnb.com/rooms/1257252023824017600)\n\n\ud83c\udfe1 Peaceful room, King size bed, Big Balcony, Centre\n\ud83d\udecf\ufe0f King-Size-Bett\n\ud83d\udcb6 \u20ac123/Nacht \u2013 Total: \u20ac123\n\ud83d\udd17 [View](https://www.airbnb.com/rooms/3874587)\n\n\ud83c\udfe1 Studio Apartment at Cove Centrum\n\ud83d\udecf\ufe0f 1 Doppelbett\n\ud83d\udcb6 \u20ac209/Nacht \u2013 Total: \u20ac209\n\u2728 Superhost\n\ud83d\udd17 [View](https://www.airbnb.com/rooms/559146820973459936)\n\n\ud83c\udfe1 The Hague City Center Studio Appartement Brand New\n\ud83d\udecf\ufe0f 2 Betten\n\ud83d\udcb6 \u20ac146/Nacht \u2013 Total: \u20ac146\n\u2728 Guest favorite\n\ud83d\udd17 [View](https://www.airbnb.com/rooms/34312629)\n\n\ud83d\udd0e Mehr Ergebnisse & weitere Filter:\n\u2192 [Alle Unterk\u00fcnfte f\u00fcr 1 Person in Scheveningen (31.05.\u201301.06.2025)](https://www.airbnb.com/s/Scheveningen/homes?checkin=2025-05-31&checkout=2025-06-01&adults=1&children=0&infants=0&pets=0)\n\n\ud83d\udc49 Sag Bescheid, wenn du Infos zu Ausstattung, Fotos oder Stornierung brauchst!"
        }
      }
    ]
  }
}