n8n_backup_2/exported_workflows/Generate_Images_and_Convert_to_Video_Using_Flux__K_8c0cplUpLNTyiXB1.json
{
  "id": "8c0cplUpLNTyiXB1",
  "name": "Generate Images and Convert to Video Using Flux, Kraken & Runway",
  "nodes": [
    {
      "parameters": {
        "amount": 15
      },
      "id": "988b9cf3-5050-4c79-9ff4-9a763fa5a3ad",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        320,
        60
      ],
      "webhookId": "c97f2119-0ee3-495f-9b58-dd6ee2cd1a2d",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://api.us1.bfl.ai/v1/get_result?id={{ $('generate image (flux)').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-key",
              "value": "\"your-key\""
            }
          ]
        },
        "options": {}
      },
      "id": "a6c279d9-c982-457f-adc5-58d7ff5da0ce",
      "name": "get_image_url",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -60,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.result.sample }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "auth",
              "value": "\"your-api-key\""
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "30ec4fbe-f56b-4f73-8bb3-253d64d6aecb",
      "name": "get_image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        140,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kraken.io/v1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "{\"auth\":{\"api_key\": \"your_api_key\", \"api_secret\": \"your_api_secret\"}, \"wait\":true}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "upload",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "20953fd4-a0f8-43ff-be24-da1a7898e2fc",
      "name": "upload to kraken",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {},
      "id": "c86cc0ab-77f8-4186-9e68-7584949f14cd",
      "name": "When clicking \u2018Test workflow\u2019",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -60,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate Image: Using Flux (Blackforest labs Option)",
        "height": 520,
        "width": 740,
        "color": 5
      },
      "id": "dc187ab9-29c8-4033-a5c2-2007dd0c30ba",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.final_result[0].origin }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "\"your-rapid-api-key\""
            }
          ]
        },
        "options": {}
      },
      "id": "ff07ac40-c908-44bb-8c01-c8f1e28c067f",
      "name": "Get Image3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1200,
        60
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kraken.io/v1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "{\"auth\":{\"api_key\": \"your_api_key\", \"api_secret\": \"your_api_secret\"}, \"wait\":true}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "upload",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "a0da5f29-985c-4db0-8a41-7215ddbf1fc1",
      "name": "upload to kraken1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1380,
        60
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Flux (Rapid API Endpoint)",
        "height": 260,
        "width": 740,
        "color": 6
      },
      "id": "c32e5e95-d007-4ed8-bfc7-695cbfb3e186",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://runwayml.p.rapidapi.com/status",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "uuid",
              "value": "={{ $json.uuid }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "runwayml.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "\"your-rapid-api-key\""
            }
          ]
        },
        "options": {}
      },
      "id": "2085d174-6731-4d7a-81a2-79a9a10f7e9f",
      "name": "Get Video Generation Status1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1380,
        380
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "86af9233-1825-4ce0-a39f-4665a244b0a5",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "success"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "3f431dfc-ce04-40f0-83b8-93e7df665340",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "success"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "pending"
            }
          ]
        },
        "options": {}
      },
      "id": "0dde13f9-edcf-44ac-a3f2-7b41a03a3e36",
      "name": "Confirm Generation Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1200,
        540
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "afad613a-34f9-4da5-b339-c3d90d841d25",
      "name": "1 minute3",
      "type": "n8n-nodes-base.wait",
      "position": [
        1200,
        380
      ],
      "webhookId": "912371bb-33b4-4879-81b2-8674cd25be9c",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Image to Video: Using Runway (Rapid API)",
        "height": 520,
        "width": 740,
        "color": 6
      },
      "id": "5c69f2fe-04f4-432c-a3da-ea189625712a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "43611d96-407d-4998-82f2-64125843b363",
      "name": "1 minute2",
      "type": "n8n-nodes-base.wait",
      "position": [
        140,
        580
      ],
      "webhookId": "51231920-f912-4593-af70-52c5f2fa2e14",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Image to Video: Using Runway (official api)",
        "height": 280,
        "width": 740,
        "color": 5
      },
      "id": "424fc1cf-990f-4416-a29a-00901a2b10c7",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Using Rapid API Endpoints",
        "height": 940,
        "width": 860,
        "color": 3
      },
      "id": "31101a1d-d453-4d7c-ba82-30ced2458785",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        840,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Using official APIs",
        "height": 940,
        "width": 860,
        "color": 4
      },
      "id": "40d234d6-5222-4228-a863-8842d45151a8",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -220,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Runway-Version",
              "value": "2024-11-06"
            },
            {
              "name": "Authorization",
              "value": "\"your-bearer-key\""
            }
          ]
        },
        "options": {}
      },
      "id": "19a69fa9-1f5d-4ffe-af59-a889dce9bbb5",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        580
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.us1.bfl.ai/v1/flux-pro-1.1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-key",
              "value": "\"your-key\""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\" : \"your_text_to_image_prompt\",\n  \"width\": 768,\n  \"height\": 1024,\n  \"prompt_upsampling\": false,\n  \"seed\": 42,\n  \"safety_tolerance\": 2,\n  \"output_format\": \"jpeg\"\n}",
        "options": {}
      },
      "id": "fd24bd48-61a7-4d1a-9b0f-254d72727702",
      "name": "generate image (flux)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        140,
        60
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ai-text-to-image-generator-flux-free-api.p.rapidapi.com/aaaaaaaaaaaaaaaaaiimagegenerator/quick.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "ai-text-to-image-generator-flux-free-api.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "\"your-rapid-api-key\""
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "=\"your_text_to_image_prompt\""
            },
            {
              "name": "style_id",
              "value": "1"
            },
            {
              "name": "size",
              "value": "1-1"
            }
          ]
        },
        "options": {}
      },
      "id": "9d0b8386-b629-4b0b-bc35-d49ddd6b9783",
      "name": "generate image (flux-rapid-api)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1000,
        60
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://runwayml.p.rapidapi.com/generate/imageDescription",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "runwayml.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "\"your-rapid-api-key\""
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text_prompt",
              "value": "=\"your_image_to_video_prompt\""
            },
            {
              "name": "img_prompt",
              "value": "={{ $json.kraked_url }}"
            },
            {
              "name": "model",
              "value": "gen3"
            },
            {
              "name": "image_as_end_frame",
              "value": "false"
            },
            {
              "name": "flip",
              "value": "true"
            },
            {
              "name": "motion",
              "value": "5"
            },
            {
              "name": "seed",
              "value": "0"
            },
            {
              "name": "time",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "e15c0617-5ec5-4b00-b40b-f7a132a0156f",
      "name": "image to video (runway-rapid-api)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1000,
        380
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dev.runwayml.com/v1/image_to_video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Runway-Version",
              "value": "2024-11-06"
            },
            {
              "name": "Authorization",
              "value": "\"Your-bearer-key\""
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "promptImage",
              "value": "={{ $json.kraked_url }}"
            },
            {
              "name": "model",
              "value": "gen3a_turbo"
            },
            {
              "name": "ratio",
              "value": "768:1280"
            },
            {
              "name": "duration",
              "value": "10"
            },
            {
              "name": "promptText",
              "value": "=\"your_image_to_video_prompt\""
            }
          ]
        },
        "options": {}
      },
      "id": "f4b66e10-2533-4e45-9547-0c0ec24f9492",
      "name": "image to video (runway)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -60,
        580
      ],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "get_image_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 minute2": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 minute3": {
      "main": [
        [
          {
            "node": "Get Video Generation Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_image": {
      "main": [
        [
          {
            "node": "upload to kraken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image3": {
      "main": [
        [
          {
            "node": "upload to kraken1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_image_url": {
      "main": [
        [
          {
            "node": "get_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [],
        [
          {
            "node": "1 minute2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload to kraken": {
      "main": [
        [
          {
            "node": "image to video (runway)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload to kraken1": {
      "main": [
        [
          {
            "node": "image to video (runway-rapid-api)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate image (flux)": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image to video (runway)": {
      "main": [
        [
          {
            "node": "1 minute2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Generation Status": {
      "main": [
        [],
        [
          {
            "node": "1 minute3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Generation Status1": {
      "main": [
        [
          {
            "node": "Confirm Generation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate image (flux-rapid-api)": {
      "main": [
        [
          {
            "node": "Get Image3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Test workflow\u2019": {
      "main": [
        [
          {
            "node": "generate image (flux)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image to video (runway-rapid-api)": {
      "main": [
        [
          {
            "node": "1 minute3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}