n8n_backup_2/exported_workflows/Google_Sheets_to_Veo_3__Instantly_Create_Videos_wi_i3LLE3mjTvE3WDwG.json
{
  "id": "i3LLE3mjTvE3WDwG",
  "name": "Google Sheets to Veo 3: Instantly Create Videos with n8n & Fal.AI",
  "nodes": [
    {
      "parameters": {},
      "id": "0927860c-8746-4b7a-88d1-a5094bd2c6a8",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "position": [
        400,
        620
      ],
      "webhookId": "150069ed-885b-497f-a32a-09e7088136e6",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ac50759b-e2f3-4efd-a2af-f28b7d209b45",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED"
            }
          ]
        },
        "options": {}
      },
      "id": "8a7fa462-a802-490a-b10a-0cded4d4c8f9",
      "name": "Check if video is ready",
      "type": "n8n-nodes-base.if",
      "position": [
        220,
        620
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key <YOUR_API_KEY>"
            }
          ]
        },
        "options": {}
      },
      "id": "ff1f639e-4679-4181-8566-4fc7e2e187b1",
      "name": "Get video url",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        60,
        940
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "chatgpt-4o-latest",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a creative prompt engineer for Google's Veo 3 video generation model. For any concept provided, craft a detailed, visually immersive prompt that specifies the subject, setting, lighting, mood, era or style, object details, composition, and background elements. Use evocative, sensory-rich language and guide the model to produce authentic, high-quality images. Match the style and depth of the following example:\n\nA casual street interview on a busy New York City sidewalk in the afternoon. The interviewer holds a plain, unbranded microphone and asks: Have you seen Google's new Veo3 model It is a super good model. Person replies: Yeah I saw it, it's already available on fal. It's crazy good.\n\nRespond only with the crafted prompt.",
              "role": "assistant"
            },
            {
              "content": "=the input is: {{ $json.Idea }}"
            }
          ]
        },
        "options": {}
      },
      "id": "de3ef62c-b09d-458b-833e-5ff7c51b4ca9",
      "name": "Generate prompt for Veo 3 model",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        240,
        -20
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Key <YOUR_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"aspect_ratio\": \"{{ $json.ratio }}\",\n  \"enhance_prompt\": true,\n  \"generate_audio\": {{ $json.audio }}\n}",
        "options": {}
      },
      "id": "7f6ba9a3-15d6-438b-a36c-81fff735a749",
      "name": "Submit Request to generate video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        400,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4807c116-ed98-4a0e-8dba-aab1dd2ee971",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.message.content }}"
            },
            {
              "id": "32437b05-fa7a-4f3b-bad0-fc7201cc7371",
              "name": "ratio",
              "type": "string",
              "value": "={{ $('Google Sheets Trigger').item.json.Ratio }}"
            },
            {
              "id": "4cf00dd2-9057-4868-93ac-7f9725750d77",
              "name": "audio",
              "type": "string",
              "value": "={{ $('Google Sheets Trigger').item.json.Audio }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0b627425-cfda-4925-899a-d73353d6b029",
      "name": "Set variables for Video generation",
      "type": "n8n-nodes-base.set",
      "position": [
        60,
        300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key <YOUR_API_KEY>"
            }
          ]
        },
        "options": {}
      },
      "id": "6bf0a553-d7e9-4c2d-b702-d0c6bed906b3",
      "name": "Check video status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        60,
        620
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "100ur8DnU_q2YIAx15ccMfEWC43Di_G7hj19csjxg73A",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/100ur8DnU_q2YIAx15ccMfEWC43Di_G7hj19csjxg73A/edit?usp=drivesdk",
          "cachedResultName": "Veo 3 template"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/100ur8DnU_q2YIAx15ccMfEWC43Di_G7hj19csjxg73A/edit#gid=0",
          "cachedResultName": "Results"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "5f6b57ad-3c2b-4aec-893d-47f69a68bd34",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        60,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Google Sheets to Veo 3: Instantly Create Videos with n8n & Fal.AI\n\nEasily generate 8-second videos using Fal.AI\u2019s Veo 3 model\u2014just add a row to your Google Sheet with your idea, the video ratio, and whether you want audio (true/false).\n\nHere\u2019s what Fal.AI charges:\n\n1s video: $0.50\n\n1s video with audio: $0.75\n\n8s video (default): $4.00\n\n8s video with audio: $6.00\n\nHere are the execution times:\n\n8s video (default): 3 minutes\n\n8s video with audio: 15 minutes\n\n**Step 1: Connect Google Sheets**\n\nAdd your Google service account credentials and make sure Google Sheets API is enabled in your Google Cloud project.\n\nCopy the shared template sheet in the description.\n\nDouble-check that your n8n Google Sheets nodes are linked to the correct spreadsheet.\n\n**Step 2: Connect OpenAI**\n\nGet your OpenAI API key.\n\nAdd your OpenAI credentials in n8n.\n\n**Step 3: Set Up Fal.ai**\n\nSign up at fal.ai and top up your account.\n\nGrab your API key from the Fal.ai dashboard.\n\nIn n8n, update the \"Submit Request to generate video,\" \"Check video status,\" and \"Get video url\" nodes. Replace the authorization header with your API key: 'Key <YOUR_API_KEY>'\n\n**Step 4: View Results in the Sheet**\n\nOnce your sheet updates, you\u2019ll see the prompt used and the video URL.\n\n** Troubleshoot**\nIf the \u201cAudio\u201d column shows as a boolean instead of text and gives error generating the video, enter it as '=\"true\"' or '=\"false\"' in the spreadsheet.\n\nif any other issue, please contact me at max@nervoai.com\n\n\nThat\u2019s it! You\u2019re ready to create Veo 3 videos straight from Google Sheets.\n",
        "height": 1140,
        "width": 700,
        "color": 5
      },
      "id": "0cd7eb35-ca01-41a7-882d-d7935dcb6b7c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "100ur8DnU_q2YIAx15ccMfEWC43Di_G7hj19csjxg73A",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/100ur8DnU_q2YIAx15ccMfEWC43Di_G7hj19csjxg73A/edit?usp=drivesdk",
          "cachedResultName": "Veo 3 template"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/100ur8DnU_q2YIAx15ccMfEWC43Di_G7hj19csjxg73A/edit#gid=0",
          "cachedResultName": "Results"
        },
        "columns": {
          "value": {
            "Idea": "={{ $('Google Sheets Trigger').item.json.Idea }}",
            "Video Generated": "={{ $json.video.url }}",
            "Prompt Generated": "={{ $('Generate prompt for Veo 3 model').item.json.message.content }}"
          },
          "schema": [
            {
              "id": "Idea",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Idea",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Ratio",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Ratio",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Audio",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt Generated",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Prompt Generated",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Video Generated",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Video Generated",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Idea"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "55a25663-e057-4ec6-beaf-99a2a33ae7c8",
      "name": "Update sheet with video url and prompt used in Veo3",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        400,
        940
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "content": "## Stage 1: Trigger & Prompt Generation\nStarts the workflow when a new row is added in Google Sheets, then when the workflow is actioned, it generates a prompt for the Veo 3 video model based on the sheet data.",
        "height": 300,
        "width": 540,
        "color": 3
      },
      "id": "5e80dd9b-d920-4f36-a568-3e28f013fcd4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Stage 2: Prepare & Submit Video Request\nSets up all necessary variables for video creation and sends a request to Fal.AI to generate the video.",
        "height": 300,
        "width": 540,
        "color": 6
      },
      "id": "2c74fe07-e29a-41f8-8a4e-6512d24a0d1e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Stage 3: Monitor Video Status\nChecks the status of the video generation. Waits and repeatedly checks every 5 seconds until the video is ready.",
        "height": 300,
        "width": 540
      },
      "id": "2f619fd3-de57-4d8f-a1b2-bc77e575816c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Stage 4: Retrieve & Update Results\nGets the final video URL and updates the Google Sheet with the video link and the prompt used.",
        "height": 300,
        "width": 540,
        "color": 4
      },
      "id": "a44200aa-d29e-44b9-9305-f8c948973510",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        820
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Check video status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video url": {
      "main": [
        [
          {
            "node": "Update sheet with video url and prompt used in Veo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check video status": {
      "main": [
        [
          {
            "node": "Check if video is ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Generate prompt for Veo 3 model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if video is ready": {
      "main": [
        [
          {
            "node": "Get video url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate prompt for Veo 3 model": {
      "main": [
        [
          {
            "node": "Set variables for Video generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Request to generate video": {
      "main": [
        [
          {
            "node": "Check video status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables for Video generation": {
      "main": [
        [
          {
            "node": "Submit Request to generate video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}